@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #ff0066;
}
.bg-white {
  background-color: #ffffff;
}

.color-white {
  color: white;
}
.color-primary {
  color: #ff0066;
}

.btn-primary {
  background-color: #ff0066;
  color: white;
  padding: 10px 30px;
}
.btn-primary:hover {
  background-color: #ca0956;
  color: white;
  padding: "0px 30px";
}
