@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #ff0066 !important;
}
.bg-white {
  background-color: #ffffff !important;
}

.colorWhite {
  color: white !important;
}
.color-primary {
  color: #ff0066 !important;
}

.btnPrimary {
  background-color: #ff0066 !important;
  color: white !important;
  padding: 10px 30px !important;
}
.btnPrimary:hover {
  background-color: #ca0956 !important;
  color: white !important;
  padding: "0px 30px";
}

.colorYellow {
  color: hwb(66 12% 0%);
}
.colorGreen {
  color: #00ff00;
}
.colorRed {
  color: red;
}

.cardIcon {
  margin-right: 10px;
}

.cardTypography {
  font-weight: bold;
}

.adminStyle {
  color: #ff0066;
}

.userStyle {
  color: #0066ff;
}

.css-e6cxxf-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #ff0066 !important;
}
