@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #ff0066;
}
.bg-white {
  background-color: #ffffff;
}

.color-white {
  color: white;
}
.color-primary {
  color: #ff0066;
}
